/* Components
------------------------------------------------------------*/

.u-padd {
  padding-left: var(--padd);
  padding-right: var(--padd);

  @include maxW {
    padding-left: var(--paddsp);
    padding-right: var(--paddsp);
  }
}

/* --------------------------------- picture -------------------------------- */

.c-picture {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  padding-bottom: 100%;
  background: var(--ant-cl);
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* --------------------------------- loading -------------------------------- */

.c-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--white-cl);
  z-index: 99;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  &.--done {
    opacity: 0;
    transition-delay: 0s;
    animation: hide-visibility 0.3s forwards;
    pointer-events: auto;
  }

  @keyframes hide-visibility {
    99% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
  }

  @include maxW {
    height: var(--app-height);
  }
}

/* ------------------------------- basho logo ------------------------------- */

.c-basho {
  position: fixed;
  width: 100%;
  bottom: 30px;
  left: 0;
  z-index: 100;
  pointer-events: none;

  &.--white {
    svg {
      path,
      rect {
        fill: var(--white-cl);
      }
    }
  }

  &.--black {
    svg {
      path,
      rect {
        fill: var(--black-cl);
      }
    }
  }

  svg {
    path,
    rect {
      transition: fill 0.3s ease-in-out;
    }
  }

  @include maxW {
    bottom: 20px;
    padding-right: 18px;
  }
}

/* --------------------------------- heading -------------------------------- */

.c-heading {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &_tabs {
    display: flex;
    align-items: center;
    gap: 32px;

    h2 {
      opacity: 0.3;
      transition: opacity 0.2s ease-in;
      cursor: pointer;

      &.--active {
        opacity: 1;
      }
    }
  }

  p {
    font-size: 1.9rem;
    line-height: 1.1;
  }

  h2 {
    font-size: 4.8rem;
    font-weight: 400;
    letter-spacing: -0.7px;
    line-height: 1.1;
  }

  @include maxW {
    gap: 5px;

    &_tabs {
      width: 100%;
      justify-content: space-between;
      gap: 5px;
    }

    p {
      font-size: 1.6rem;
    }

    h2 {
      font-size: min(8.696vw, 3.6rem);
    }
  }
}

/* --------------------------------- gallery -------------------------------- */

.c-gallery {
  position: relative;
  width: 100%;
  height: 100%;

  &_overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba($color: #000000, $alpha: 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    opacity: 1;

    .c-gallery_overlay {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

/* --------------------------------- button --------------------------------- */

.c-button {
  width: fit-content;
  padding: 10px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 41px;
  border-radius: 80px;
  background: transparent;
  border: 1px solid var(--black-cl);
  font-size: 1.8rem;
  line-height: 0.9;
  color: var(--black-cl);
  transition: all 0.2s ease-in;

  &:hover {
    opacity: 1;
    background: var(--black-cl);
    color: var(--white-cl);
  }

  &.--active {
    background: var(--black-cl) !important;
    color: var(--white-cl) !important;
  }

  &.--fs16 {
    font-size: 1.6rem;
  }

  &.--disable {
    pointer-events: none !important;
  }

  &.--white-solid {
    border: 1px solid var(--white-cl);
    color: var(--white-cl);

    &:hover {
      background: var(--white-cl);
      color: var(--black-cl);
    }
  }

  @include maxW {
    padding: 9px 30px;
    min-height: 35px;
    font-size: 1.4rem !important;
  }
}

/* --------------------------------- journal -------------------------------- */

.c-journal {
  &_inner {
    padding-top: 150px;
    margin-top: 50px;
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 2.4rem;
      font-weight: 400;
    }

    a {
      font-size: 1.9rem;
    }
  }

  &_list {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &_items {
    p {
      margin-top: 20px;
      font-family: var(--tn-fonts);
      font-size: 2.1rem;
      line-height: 1.15;
      letter-spacing: -0.5px;
    }
  }

  @include maxW {
    &_inner {
      padding-top: 60px;
      margin-top: 60px;
    }

    &_header {
      h2 {
        font-size: 2rem;
      }

      a {
        font-size: 1.6rem;
      }
    }

    &_list {
      margin-top: 20px;
      grid-template-columns: repeat(2, 1fr);
      gap: 22px 20px;
    }

    &_items {
      p {
        margin-top: 15px;
        font-size: 1.8rem;
      }
    }
  }
}

/* -------------------------------- category -------------------------------- */

.c-category {
  &_inner {
    padding-top: 150px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &_l {
    h2 {
      margin-top: 10px;
      font-size: 1.9rem;
      font-weight: 400;
    }
  }

  &_r {
    position: relative;
    grid-column: 2/5;

    ul {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        a {
          font-size: 4.8rem;
          font-weight: 400;
          letter-spacing: -0.5px;
          line-height: 1.1;

          width: fit-content;
          display: flex;
          align-items: center;
          gap: 25px;

          svg {
            opacity: 0;
            transition: opacity 0.2s ease-in;
          }

          div.thumb {
            position: absolute;
            top: 0;
            right: 0;
            width: 11.389vw;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.2s ease-in;

            picture {
              padding-bottom: calc(218 / 164 * 100%);
            }
          }
        }
      }
    }
  }

  @include minW {
    &_r {
      ul {
        li {
          a {
            &:hover {
              opacity: 1;
              font-family: var(--tn-fonts);
              font-size: 5.1rem;

              svg {
                opacity: 1;
              }

              div.thumb {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  @include maxW {
    &_inner {
      padding-top: 60px;
      margin-top: 60px;
      grid-template-columns: 1fr;
      gap: 27px;
    }

    &_l {
      h2 {
        font-size: 1.6rem;
      }
    }

    &_r {
      grid-column: initial;

      ul {
        li {
          a {
            font-size: min(7.246vw, 3rem);

            svg,
            div.thumb {
              display: none;
            }
          }
        }
      }
    }
  }
}

/* ------------------------------ card product ------------------------------ */

.c-card {
  position: relative;
  z-index: 1;

  &:hover {
    opacity: 1;
    .c-button {
      background: var(--black-cl);
      color: var(--white-cl);
    }
  }

  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
  }

  .c-picture {
    padding-bottom: calc(436 / 328 * 100%);

    img {
      mix-blend-mode: multiply;
    }
  }

  h3 {
    margin-top: 20px;
    font-family: var(--tn-fonts);
    font-size: 2.1rem;
    line-height: 1.15;
    font-weight: 400;
    letter-spacing: -0.5px;
  }

  p {
    margin-top: 10px;
    font-size: 1.6rem;
  }

  &_tags {
    position: absolute;
    top: 15px;
    left: 18px;
    z-index: 1;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 28px;
      padding: 6px 16px;
      border-radius: 80px;
      background: var(--white-cl);
      font-size: 1.6rem;
    }
  }

  @include maxW {
    h3 {
      margin-top: 17px;
      font-size: 1.8rem;
    }

    p {
      font-size: 1.4rem;
    }

    &_tags {
      top: 10px;
      left: 10px;

      span {
        min-height: 23px;
        padding: 6px 12px;
        font-size: 1.1rem;
      }
    }
  }
}

/* ----------------------------- product feature ---------------------------- */

.c-prodfeat {
  width: 100%;
  position: relative;
  z-index: 1;

  &_swiper {
    margin: 25px calc(0px - var(--padd)) 0;
    padding: 0 var(--padd);
    position: relative;
    overflow: hidden;
  }

  &_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_nav {
    display: flex;
    align-items: center;
    gap: 15px;

    .swiper-button-next,
    .swiper-button-prev {
      position: initial;
      margin: 0;
      font-size: 0;
      width: auto;
      height: auto;

      &.swiper-button-disabled {
        opacity: 0.3;
      }

      &:after {
        content: "";
      }
    }
  }

  @include maxW {
    &_swiper {
      margin: 25px calc(0px - var(--paddsp)) 0;
      padding: 0 var(--paddsp);
    }
  }
}

/* ------------------------------- dual layout ------------------------------ */

.c-dual {
  padding-top: 210px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  h2.title {
    position: sticky;
    top: 210px;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.1;
  }

  @include maxW {
    padding-top: 150px;
    grid-template-columns: 1fr;
    gap: 60px;

    h2.title {
      position: initial;
      font-size: 2.2rem;
    }
  }
}
