/* Utils
------------------------------------------------------------*/

/* hidden */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

[data-tabs-panels] {
  opacity: 0;
  animation: 1s forwards fadeTab;
  display: none;
  visibility: hidden;

  &.--active {
    display: block;
    visibility: visible;
  }

  @keyframes fadeTab {
    100% {
      opacity: 1;
      transform: none;
    }
  }
}

/* lazy load */
img.lazy {
  opacity: 0;
  transition: opacity 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &.loaded {
    opacity: 1;
  }
}

/* only device */
.sp-only,
.is-hidden {
  display: none !important;
}

@include maxW {
  .pc-only {
    display: none !important;
  }

  .sp-only {
    display: block !important;
  }
}
