/* FONT FACE */

@font-face {
  font-family: tn;
  src: url("/assets/fonts/TimesNow-SemiLight.woff2") format("woff2"),
    url("/assets/fonts/TimesNow-SemiLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
