/* -------------------------------------------------------------------------- */
/*                                journal page                                */
/* -------------------------------------------------------------------------- */

.journalpage {
  // ===== journal =====
  .journal {
    &_container {
      padding-top: 210px;
    }

    &_list {
      margin-top: 100px;
      gap: 57px 20px;
    }

    @include maxW {
      &_container {
        padding-top: 150px;
      }

      &_list {
        margin-top: 60px;
        gap: 27px 20px;
      }
    }
  }

  // ===== detail =====
  .detail {
    &_container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &_sticky {
      position: sticky;
      top: 210px;

      h2 {
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.1;
      }

      h3 {
        margin-top: 30px;
        font-family: var(--tn-fonts);
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: -0.5px;
        line-height: 1.12;
      }

      p {
        margin-top: 25px;
        font-size: 1.9rem;
      }
    }

    &_thumb {
      width: 100%;
      height: 100vh;

      picture {
        height: 100%;
        padding-bottom: calc(812 / 720 * 100%);
      }
    }

    &_pad {
      margin-top: 120px;
      padding-right: var(--padd);
    }

    &_content {
      h3 {
        margin-top: 120px;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.1;
      }

      p {
        margin-top: 45px;
        font-family: var(--tn-fonts);
        font-size: 2.1rem;
        letter-spacing: -0.5px;
        line-height: 1.36;
      }

      a {
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }

    &_controls {
      margin-top: 120px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      font-size: 1.9rem;

      a {
        &:nth-child(2) {
          text-align: center;
        }

        &:nth-child(3) {
          text-align: right;
        }
      }
    }

    @include maxW {
      &_container {
        padding-top: 150px;
        grid-template-columns: 1fr;
        gap: 60px;
      }

      &_sticky {
        position: initial;

        h2 {
          font-size: 2.2rem;
        }

        h3 {
          margin-top: 45px;
          font-size: 2.2rem;
        }

        p {
          margin-top: 12px;
          font-size: 1.2rem;
        }
      }

      &_thumb {
        height: auto;

        picture {
          padding-bottom: calc(519 / 414 * 100%);
        }
      }

      &_pad {
        margin-top: 80px;
        padding: 0 var(--paddsp);
      }

      &_content {
        h3 {
          margin-top: 80px;
          font-size: 2.2rem;
        }

        p {
          margin-top: 30px;
          font-size: 1.8rem;
        }
      }

      &_controls {
        margin-top: 80px;
        font-size: 1.6rem;
      }
    }
  }
}
